.navbar{
    display: flex;
    border: 1px solid black;
    font-size: 24px;
    padding: 20px;
   justify-content:space-around;
   box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;;
   background-color: rgb(56, 55, 55);
   
} 
.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
} 


.box{
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    /* background-image: linear-gradient(to left, rgb(28, 171, 162) 25%, rgb(28, 127, 171)); */
    background-color: rgb(197, 237, 237);
    padding: 35px;
}
 
.box > div{
    height: 500px;
    width: 600px;
    /* border: 1px solid green; */
}
img{
    width: 100%;
}

#box1{
    background-color: whitesmoke;
}
#box1>div{
    /* border: 2px solid black; */
    height: 60px;
    width: 80%;
    margin-top: 50px;
    margin-left: 55px;
}

#box1>div:nth-child(1){
    /* border: 2px solid green; */
    height: 60px;
    width: 80%;
    margin-top: 50px;
    margin-left: 55px;
}

#box1>div:nth-child(2){
    border: 2px solid rgb(203, 41, 41);
    height: 35%;
    width: 80%;
    margin-top: 50px;
    margin-left: 55px;
}

#box1>div>img{
width: 40%;
margin-left: 130px;
}
#box1>div>p{
    text-align: center;
   font-size: large;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    
}

.container > div {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    /* text-align: center; */
    height: 70%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container img {
    max-width: 50%;
    height: auto;
    
}

.container h3 {
    margin-bottom: 10px;
}

.container h2 {
    color: #3498db;
}

.container p {
    font-weight: bold;
    color: #e74c3c;
}





